{% extends "layout.php" %}

{% block content %}
    <h1>Friend Requests</h1>
    <div class="requests">
        {% for user in friend_requests %}
            <!-- Request Details -->
            <div class="request">
                <div class="pic" style="background: url({{ webroot }}{{ user.avatar_path }})"></div>
                <div class="name">{{ user.name }}</div>
                <form class="respond-form" name="respond-form" action="{{ webroot }}respond" method="POST">
                    <input type="hidden" name="user-id" value="{{ user.id }}">
                    <input type="submit" name="accept" value="Accept">
                    <input type="submit" name="ignore" value="Ignore">
                </form>
            </div>
        {% else %}
            <h2>You have no active friend requests</h2>
        {% endfor %}
    </div>
    <h1>Friends</h1>
    <div class="friends">    
        {% for user in friends %}
            <!-- Friend Details -->
            <div class="friend">
                <div class="pic" style="background: url({{ webroot }} user.avatar_path }})"></div>
                <div class="name">{{ user.name }}</div>
                <form class="view-form" name="view-form" action="{{ webroot }}view" method="POST">
                    <input type="hidden" name="user-id" value="{{ user.id }}">
                    <input type="submit" name="view" value="View Profile">
                </form>
            </div>
        {% else %}
            <h2>You have no friends :&#40;</h2>
        {% endfor %}
    </div>
    <hr>
    <div class="search">
        <input type="text" id="search-input">
        <button id="search-button">Search</button>
    </div>
    <!-- We'll display the results after an AJAX submit -->
    <div id="search-results">
    </div>
    <script type="text/javascript">
        $("#search-button").click(function(event) {
            // Prevent default behaviour, such as submitting a form.
            event.preventDefault();
            $.ajax({
                url: "{{ webroot }}search",
                method: 'POST',
                data: {searchTerm: $("#search-input").val()}
            }).done(function(html) {
                $("#search-results").html(html);
            }).fail(function() {
                $("#search-results").html("<p>The search failed. Please check your internet connection.</p>");
            });
        });
    </script>
{% endblock %}